@page
@model WebAppControlCursos.Pages.CursosModel
@{
    ViewData["Title"] = "Cursos";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    &nbsp;
    <form method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="search"
                    class="form-control"
                    asp-for="Search"
             />

                <button class="btn btn-light">
                    Buscar
                </button>
            </div>
        </div>
    </form>
    
    <div>
        <a class="btn btn-success"
           asp-page="EditarCurso">
            Agregar
        </a>
    </div>
    &nbsp;    
    <table class="table">
        
            <thead class="thead-dark">
                <tr>
                    <th scope="col" >ID</th>
                    <th scope="col" >NOMBRES</th>
                    <th scope="col" >DESCRIPCION</th>
                    <th scope="col" >DOCENTE</th>               
                    <th scope="col" >OPCIONES</th>
                </tr>
            </thead>

        @foreach (var course in Model.Courses)
        {
            <tdbody>
                <tr>
                    <th scope="col">@course.Id</th>
                    <th scope="col">@course.Name</th>
                    <th scope="col">@course.Description</th>
                    <th scope="col">@course.Teacher</th>
                    <th scope="col">
                        <a class="btn btn-primary"
                        asp-page="DetalleCurso"
                           asp-route-id="@course.Id">
                           Detalle
                        </a>
                        <a class="btn btn-secondary"
                           asp-page="EditarCurso"
                           asp-route-id="@course.Id">
                            Editar
                        </a>
                        <form method="post">
                           <button class="btn btn-danger" asp-route-id="@course.Id">Eliminar</button>
                        </form>
                    </th>
                    
                </tr>
            </tdbody>
        }
        
    </table>
</div>
